# Lines to grep from df, default is:
#DISK_ALERT_FILTER="^Filesystem|^tmpfs|^cdrom|^none|^/dev/loop|^overlay|^shm|^udev|^cgroup|^cgmfs"

# Set type of disk usage check: by % of usage or by MB free space left
# By default = PERCENT
#DISK_ALERT_USAGE_CHECK="PERCENT"
#DISK_ALERT_USAGE_CHECK="FREE_SPACE"

# History size (keep N lines)
# If history is collected every 5 mins = 7 * 24 * ( 60 / 5 ) = 2016
# Used for linear regression prediction
#DISK_ALERT_HISTORY_SIZE="2016"

# Default critical space usage % threshold
#DISK_ALERT_DEFAULT_PERCENT_CRITICAL="95"

# Default free space critical MB threshold
#DISK_ALERT_DEFAULT_FREE_SPACE_CRITICAL="1024"

# Default critical predicted seconds threshold
# If predicted time to 100% is 24 hours ((60 * 60 * 24) = 86400) we send message
#DISK_ALERT_DEFAULT_PREDICT_CRITICAL="86400"

# Individual critical spce usage % threshold
#declare -A DISK_ALERT_PERCENT_CRITICAL
#DISK_ALERT_PERCENT_CRITICAL["/mount/point"]="95"

# Individual free space critical MB threshold
#declare -A DISK_ALERT_FREE_SPACE_CRITICAL
#DISK_ALERT_FREE_SPACE_CRITICAL["/mount/point"]="1024"

# Individual critical predicted seconds threshold
#declare -A DISK_ALERT_PREDICT_CRITICAL
#DISK_ALERT_PREDICT_CRITICAL["/mount/point"]="86400"

# Inodes are checked only by % of usage

# Default critical inode usage % threshold
#DISK_ALERT_DEFAULT_INODE_CRITICAL="95"

# Individual critical inode usage % threshold
#declare -A DISK_ALERT_INODE_CRITICAL
#DISK_ALERT_INODE_CRITICAL["/mount/point"]="95"
