#
# *			*		*			*	
# SRC_HOST		BACKUP_TYPE	SRC			DST						DWM or HDWM				ARGS			USER			PASSWORD
# ^			^		^			^						^					^			^			^
# source host		FS_RSYNC_SSH	source path or db	rsnapshot root					retain					rsync args		connect user		connect password
#			FS_RSYNC_NATIVE										H hourly				blank by default	root by default		blank by default
#			POSTGRESQL										D daily					depends on backup type
#			MYSQL											W weekly				no spaces allowed
#			FS_RSYNC_NATIVE_TXT_CHECK - check for .backup_check before doing backup			M monthly				- = blank
#			LOCAL_PREEXEC - exec SRC_HOST locallly and use local SRC				743 by default
#			FS_RSYNC_NATIVE_TO_10H - use timeout and kill if longer 10h				- = default
# *      = mandatory field											
# ---	 = take data from previous line										
# ALL	 = all databases
# UBUNTU = /etc /home /root /var/log /var/spool/cron /usr/local /lib/ufw /opt/sysadmws-utils
# CENTOS = /etc /home /root /var/log /var/spool/cron /usr/local
# ARGS example to exclude some files: --exclude-from='exclude_file.txt'
# Both FS_RSYNC_SSH and FS_RSYNC_NATIVE can use SRC_HOST with :CONNECT_PORT option
#srv1.domain.com	FS_RSYNC_SSH	UBUNTU			/var/backups/domain/srv1.domain.com
#---			---		/var/www		---
#---			POSTGRESQL	ALL			---
#---			MYSQL		ALL			---
