Package: sysadmws-utils
Priority: optional
Section: misc
Installed-Size: 100
Maintainer: Sysadmin Workshop Admin <admin@sysadm.ws>
Architecture: all
Version: 0.133
Depends: gawk, python, python-yaml, python-jinja2, rsnapshot
Description: Sysadmin Workshop Utilities - a set of useful utils for system administration.
