Package: sysadmws-utils
Priority: optional
Section: misc
Installed-Size: 100
Maintainer: Sysadmin Workshop Admin <admin@sysadm.ws>
Architecture: all
Version: 0:0.56
Depends: gawk
Description: Sysadmin Workshop Utilities - a set of useful utils for system administration.
