  MYSQL_ALL:
    backup_empty_db:
      - information_schema
      - performance_schema
      - phpmyadmin
    backup_hosts:
      HOSTNAME:
        backup_path: /var/backups/HOSTNAME/.sync/rsnapshot/var/backups/mysql
        backup_checks:
          mysql:
            backup_check_type: Mysql
