enabled: True

#hostname_override: srv1.example.com # optional, override hostname taken from socket.gethostname()

limits:
  time: 300 # total time limit for all checks to avoid check queue infinite growth, use 300 seconds if runned every 5 minute
  threads: 5 # concurrant checks limit

defaults: # default values for checks below, all optional
  timeout: 15
  severity: major
  severity_per_retcode:
    1: major
    2: critical
  client: Client 1
  environment: infra
  service: Some
  group: Some
  location: Some
  type: Some
  attempts: 3 # optional, how many times to retry check before sending alert

# Resource per environment should be unique in all checks, otherwise check events will overwrite each other.
# If non unique pair exists, script will send special notification about that.
checks:
{#
Config could be templated by Jinja2 code.
current_time and current_date are added as vars in server local time zone.
current_time = 100000 at 10:00:00.
current_date = 19700101 on 1970-01-01.
#}
{# this check will only run between 10:00 and 11:00, we don't need to check domain expiry 24 hours per day #}
{% if 100000 < current_time and current_time < 110000 %}
  example.com domain: # name of check, used only for identification
    #disabled: True # optional, to disable specific check from config management
    cmd: /opt/sensu-plugins-ruby/embedded/bin/check-whois-domain-expiration.rb -d example.com -w 30 -c 7 # cmd to run
    timeout: 15 # timeout before kill of check, optional
    severity: major # optional
    severity_per_retcode: # optional, useful for sensu-plugins, send severity based on check retcode (exit code)
      1: major
      2: critical
    client: Client 1 # optional, add client key to alert
    environment: infra # optional, add environment key to alert
    service: dns # optional, add service key to alert
    resource: microdevops.com # mandatory, resource name
    group: dns # optional, by default we use group to select host in alerta ui, but dns is not related to any host in this case
    location: Cloudflare # optional, add location key to alert
    type: sensu-plugins # optional, add type key to alert
    attempts: 3 # optional, how many times to retry check before sending alert
{% endif %}
  cmd1: # this check should be ok
    cmd: echo test stdout && >&2 echo test stderr && sleep 5 && true
    service: server
    resource: __hostname__:resource1 # __hostname__ is substituted with host name by code
  cmd2: # this check should be minor severity and killed by 15 secs default timeout with retcode -9
    cmd: echo test stdout && >&2 echo test stderr && sleep 60 && true
    service: server
    resource: srv1.example.com:resource2
  cmd3: # this check should be major severity with retcode 1
    cmd: echo test stdout && >&2 echo test stderr && false
    severity: major
    service: server
    resource: srv1.example.com:resource3
